<% wrap_layout :layout do %>
  <div class="page-banner">
    <p><strong>The MCA Architectural guidance and its content is intended for internal and external use, as defined by the MCA Strategy, Design and Architecture team.</strong></p>
  </div>

  <%= yield %>
<% end %>
